{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}

    <h1>{% trans "Cambiar contraseñas" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Olvidaste tu contraseña? Agrega tu email y te enviaremos un correo permitiendote restaurarla" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Cambiar contraseña' %}" />
    </form>

    <p>{% blocktrans %}Por favor contactanos si tienes algun problema cambiando tu contraseña.{% endblocktrans %}</p>
{% endblock %}
