{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Resetear contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Resetear contraseña" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Te enviamos un mensaje a tu dirección de correo electrónico. Por favor contactanos si no lo recibes en unos minutos.{% endblocktrans %}</p>
{% endblock %}
